
.staf-image-container{
    width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: -6vw 0 2px rgba(124, 124, 124, 0.5);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    position: absolute;
    top :-15%;
    animation: slideInUp 1s ease-in-out;
    border-width: 2px;
    border-style: solid;
}

.about-staf{
    display: flex;
    justify-content: space-between;
    gap:15px;
    margin-left: 20%;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    padding: 2%;
    min-width: 600px;
    min-height: 300px;
}
.main-container{
    margin:  10% 0 7% 10%;
    position: relative;
   
}
.about-staf-divider{
    margin-bottom: 20px;
    animation: slideInRigth 1s ease-in-out;
}
.staf-info{
    display: flex;
    gap:20px;
    font-weight: bold;
    margin-left: 9vw;
}

.staf-movie-container{
    display: flex;
    padding: 20px;
    font-display: flex;
    gap:25px;
    border-radius: 20px;
    overflow-y: auto;
    flex-wrap: nowrap;
}

@keyframes slideInRigth {
    from { transform: translateX(5%); }
    to { transform: translateX(0); }
}

