
.movie-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px rgba(124, 124, 124, 0.8);
}

.movie-header{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content:space-between;
}

.movie-header > a{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.movie-info{
    display: flex;
    flex-direction: column;
    gap:5px;

}

.info{
    display: flex;
    font-weight: bold;
    gap:10px;
    
   
}
.title{
    font-weight: bold;
    align-self: flex-start;
}

.value{
   color: rgb(184, 184, 184);
   font-weight: bold;
}

.poster{
  flex-grow: 0;
 
}