.input-container  input{
    width: 300px;
    font-size: 15px;
   
}
.input-container  span{
    font-size: 15px;
   
}

.input-container{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

form hr{
   margin: 0;
   
}