.logo{
    width: 55px;
    height: 50px;
    align-self: center;
    margin-right: 20px;
}

.header-title{
    margin-right: 20px;
    color: rgb(185, 158, 158);
    align-self: center;
}

Button{
    width: 100px;
}

.user-view{
    display: flex;
    gap:15px;
    align-items: center;
    color:rgb(97, 97, 234);
    cursor: pointer;
    font-size: 23px;
    font-weight: bolder;
}

